h2, h4, p {
    margin: 0;
}

h4 {
    align-self: flex-start;
    margin: 0 0 10px 15px;
}

a {
    color: #0C43B7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    font-size: small;
}

.container {
    width: 600px;
    background-color: #F4F3F0;
    border: 1px solid #E8EBEE;
    border-radius: 7px;
    border-top: 3px solid #E1DAD1;
    margin: auto;
    padding: 15px 10px;
}

.header {
    margin-left: 10px;
}

.header > span {
    color: #917659;
}

.box {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0.1px 0.1px 1px 1px #E1DAD1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    padding: 15px 0;
}

.box > div {
    width: 570px;
    display: flex;
    font-size: small;
}

.box > span {
    color: #808080;
    align-self: flex-start;
    margin-left: 15px;
}

.info {
    border-bottom: 1px solid #F2F4F6;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.list {
    width: 65px;
    color: #808080;
    border-left: 3.5px solid #F5F4F2;
    padding-left: 10px;
}

.content {
    flex: 1;
}

.space > p {
    margin-top: 6px;
}

.space > p:first-child {
    margin: 0;
}

.image {
    width: 105px;
    height: auto;
    background-image: url(./profile-image.jpg);
    background-size: cover;
    border: 1px solid rgba(128, 128, 128, 0.5);;
    border-radius: 10%;
}